.App {
  text-align: center;
  background-color: #f5f5f5!important;
  min-width:380px;
  /* height: 100vhvh; 
  min-height: 100vh; */
}

body {
  margin: 0;
}

html {
  height: 100vh;
  min-height: 100vh;
}

