@charset "UTF-8";

body {
  margin: 0;
  height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
}

html {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 2em;
  box-shadow: none;
  margin-bottom: 3.5em;
}

body.is-loading div.gallerie-container, body.is-loading div.grid-homepage{
  opacity: 0;
  filter: blur(1px);
  transition: all .2s ease;
}

footer:before {
  content: '';
  border-top: solid 1px black;
  width: 10em;
  display: block;
  margin: 0 auto 3em auto
}

.basdepage {
  height: 5em;
  width: 100%;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: 3em;
}

.main-background-color {
  background-color: #f5f5f5!important
}

.entete {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.entete-bouton {
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-timing-function: cubic-bezier(0.4,0,0.2,1);
  transition-duration: 0.15s;
  background-color: rgb(209, 213, 219);
  border-bottom-color: rgb(17, 24, 39);
  border-left-color: rgb(229, 231, 235);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(229, 231, 235);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(229, 231, 235);
  border-top-style: solid;
  border-top-width: 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  box-sizing: border-box;
  cursor: pointer;
}

.entete-bouton-socialmedia {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  box-sizing: border-box;
  color: rgb(17, 24, 39);
  cursor: pointer;
  tab-size: 4;
  
}

.entete-bouton:hover {
  background-color:rgb(156, 163, 175);
}

.entete-bouton:focus {
  background-color: rgba(107,114,128,1);
}

.entete-bouton-navigation {
  width: 7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom-width: 0px;
  border-bottom-style:solid;
  border-bottom-color: rgb(229, 231, 235);
  margin-top: 1rem;
  font-weight: 600;
  border-radius: .5rem;
  color: rgba(31,41,55,1);
  appearance: button;
  background-image: none;
  font-size: 16px;
  font-family: inherit;
  line-height: 24px;
}

.navigation {
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.navigation > a {
  line-height: 24px;
  text-decoration: inherit;
}

.navigation > a:not(:first-child) {
  margin-left: 1em;
}

.titre-principal {
  font-weight: 250;
  color: #212121;
  margin: auto;
  font-size: 1.5rem;
  line-height: 2rem;
}

.description {
  line-height: 24px;
  margin: 0;
}

.icon {
  text-decoration: none;
  border-bottom: 0;
  position: relative
}

.icon:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none!important
}

.icon>.label {
  display: none
}

.icon {
  transition: all .2s ease;
  border-radius: 100%;
  display: inline-block;
  padding: .5em;
}

.icon:before {
  display: block;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  font-size: 1.35em
}

.socialmedia {
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
}

*, *:before, *:after {
  box-sizing: border-box
}

ul.icons {
  list-style: disc;
  padding-left: 1em;
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin-top: 0.75rem;
  margin-block-end: 0px;
}

ul.icons li {
  display: inline-block!important;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0
}

.grid-homepage {
  width: 50%;
  opacity: 1;
  filter: none;
  margin-bottom: 3em;
  transition: opacity 1s ease, filter 1s ease;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.thumbnails {
  display: flex;
  flex-direction: row;
  position: relative;
}

.thumbnails > div:first-child {
  margin-right: 2rem;
}

.thumbnails > div:last-child {
  margin-left: 2rem;
}

.thumbnails a {
  transition: all .2s ease;
  border-bottom: 0;
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
  text-align: center;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.075);
  cursor: pointer;
  outline: 0;
  overflow: hidden;
}

.thumbnails a img {
  display: block;
  width: 100%;
    /* images moins sharp sur chrome */
    image-rendering: -webkit-optimize-contrast;
    /* image-rendering: optimizeQuality;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; */
}

.thumbnails a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 0 1px rgba(61, 8, 8, 0.25), 0 0 .5em 0 #37474f;
  opacity: 90%;
}

.thumbnails > div {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}

.thumbnails > div > :last-child {
  margin-bottom: 0
}

/* GALLERIES */

.gallerie-container {
  display: block;
  width: 1360px;
  font-size: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
  transition: opacity 1s ease, filter 1s ease;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.gallerie-container > a {
  display: inline-block;
  transition: all .2s ease;
  margin: 10px;
}

.gallerie-container > a:hover {
  box-shadow: inset 0 0 0 1px rgba(61, 8, 8, 0.25), 0 0 6px 0 #37474f;
  opacity: 90%;
}

.gallerie-container > a > img {
  display: block;
  width: 320px;
  border-radius: 2px;
    /* images moins sharp sur chrome */
  image-rendering: -webkit-optimize-contrast;
}

@media screen and (max-width:1600px) {
  .gallerie-container {
    width: 1020px;
  }
}

@media screen and (max-width:1366px) {
  .gallerie-container {
    width: 680px;
  }
} 

@media screen and (max-width:1024px) {
  .grid-homepage {  
    width: 100%;
    padding: 0 0.5em 0 0.5em;
  }
}

@media screen and (max-width:768px) {

  .thumbnails > div:first-child {
    margin-right: 0.5rem;
  }
  
  .thumbnails > div:last-child {
    margin-left: 0.5rem;
  }

  .thumbnails a {
    margin: 0 0 0.5em 0
  }

  .navigation > a:not(:first-child) {
    margin-left: 0em;
  }

  .gallerie-container {
    width: 448px;
  }

  .gallerie-container > a {
    margin: 2px;
  }

  .gallerie-container > a > img {
    width: 220px;
  }
}


@media screen and (max-width:480px) {
  .gallerie-container {
    width: 100%;
    padding: 0 5px 0 5px;
  }

  .gallerie-container > a {
    width: 100%;
    margin: 0 0 5px 0;
  }

  .gallerie-container > a > img {
    width: 100%;
  }
}