.footerIcon {
    width: 50px;
    height: 50px;
}

.image-list {
    /* padding: 75px 350px 75px 350px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
    padding: 75px 350px 75px 350px;
    line-height: 0;
   
    -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    column-gap:           0px;  
}

.image-list > a
.image-list > a > img {
  width: 100% !important;
  height: auto !important;
}

.main-block {
  position: relative;
}

.basdepage {
  height:50px;
  width: 100%;
  color:rgba(0, 0, 0, 0.65);
  padding-left: 350px;
  font-size:18px;
  margin-bottom:50px;
}

body {
    margin:0;
    height: 100vh;
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.2); */
    overflow-y: scroll;
  }

  html {
    /* background-image:  url(../images/background.jpg); */
    background-color: white;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    overflow: hidden;
  }

  /* nav {
    height: 100px;
  } */

  .card-content > span {
      color: #fff;
  }

  /* Style all font awesome icons */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 32px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  #nav-mobile > li > a {
      text-transform: uppercase;
      color: black !important;
  }

  .navigation {
    padding-left: 350px;
    padding-right: 350px;
  }

  .brand-logo {
    font-weight: 700;
    text-transform: uppercase;
    color: black !important;
  }

img {
    width: 100%;
    height: 100%;
}

nav {
  color: black !important;
  background-color: white !important;
  margin-top:50px;
  webkit-box-shadow: none;
  box-shadow: none;
}