.text-button {
  background-color: hsl(var(--color-primary));
  color: hsl(var(--color-on-primary));
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, 
              rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-width: 0px;
  border-radius: 9999px;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  padding: 0.75rem 0 0.75rem 0;
  font-weight: 500;
  transition: all .2s ease;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;
}

.text-button:hover {
  background-color:hsl(var(--color-primary-variant));
}
.text-button:active {
  transform: scale(0.97);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.1) 0px 2px 3px -0.5px, 
              rgba(0, 0, 0, 0.06) 0px 1px 2px -0.5px;
}